body {
    background-color: rgb(211, 206, 206);
}

.header {
    grid-column: 1/4;
    padding: 15px;
}

.main {
    display: grid;
    align-content: space-between;
    background: #f0dbb4;
    padding: 30px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "content-1 content-2"
        "content-3 content-3";
    grid-gap: 20px;
}

.content-1 {
    grid-area: content-1;
    padding: 30px;
}

.content-2 {
    grid-area: content-2;
    padding: 30px;
}

.content-3 {
    grid-area: content-3;
    padding: 30px;
}

.content-1, .content-2, .content-3 {
    background-color: #f1da72;
}

.sidebar {
    background: #bfe582;
    padding: 15px;
}

.footer-inner {
    background-color: white;
    padding: 30px;
    margin: 10px;
}

@media screen and (min-width: 600px) {
    .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1/4;
    grid-gap: 20px;
    }
    .container {
        display: grid;
        grid-template-columns: 3fr 470px;
        grid-template-rows: 10% 1fr 10%;
        grid-template-areas: 
            "header header"
            "main sidebar"
            "footer footer";
        height: 90vh;
        font-weight: bolder;
        text-align: center;
    }
    
}
@media screen and (min-width: 400px) and (max-width: 599px) {
    .footer {
    display: none;
    }
    .container {
        display: grid;
        grid-template-columns: 3fr 470px;
        grid-template-rows: 10% 1fr 10%;
        grid-template-areas: 
            "header header"
            "main sidebar";
        height: 90vh;
        font-weight: bolder;
        text-align: center;
    }
    
}
@media screen and (max-width: 399px) {
    .footer {
    display: none;
    }
}